.movie-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 12px; 
    justify-content: center;
    padding: 16px;
    
  }
  
  .movie-item {
    box-sizing: border-box;
  }
  